body {
    color: #404E67;
    background: #F5F7FA;
font-family: 'Open Sans', sans-serif;
}
.img-container{
    
  }
table.active {background: #ccc;}

.modal-full {
    min-width: 80%;
    margin-right: 100px;
}

.modal-full .modal-content {
    min-height: 80vh;
}

.disableClick{
    pointer-events: none;
     opacity: 0.5;
}

#dataTable.table tbody tr td{
    font-size: 14px;
}
.table-wrapper {
width: 700px;
margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-item {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-item i {
margin-right: 4px;
}

table.table td a.delete-chart-of-account {
    color: #E34724;
}



.table-title .add-new-row {
    float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-new-row i {
margin-right: 4px;
}


.table-title .add-item-purchase{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-title .add-item-purchase i {
margin-right: 4px;
}

.table-title .add-item-sale{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-title .add-item-sale i {
margin-right: 4px;
}

.table-title .add-item-x{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-title .add-item-x i {
margin-right: 4px;
}

.table-title .add-item-x-edit{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-title .add-item-x-edit i {
margin-right: 4px;
}


table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#dataTable.table th:last-child {
    width: 170px;
}
table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}

table.table td a.edit_list {
    color: #FFC107;
}
table.table td a.delete-all {
    color: #E34724;
}

#dataTable.table td a.delete_item_row {
    color: #E34724;
}

#dataTable.table td a.cart {
    color: #27C46B;
}

table.table td i {
    font-size: 19px;
}

table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
border-color: #f50000;
}

table.table thead tr th {
  white-space: nowrap; overflow: hidden;
  font-size: 14px;
}

table.table tbody tr td {
  white-space: nowrap; overflow: hidden; text-overflow:ellipsis;
  font-size: 12px;
}

table.table thead tr th{
  font-size:12px;
}

#footer_desc {
  width: 303px;
  height: 30px;
}

/* #tax_table{
  margin-left: 60%;
} */

#t_table tr th {
  font-size:12px;
}

#t_table, th, td{
  border: 1px solid;
}


#t_table tr td textarea{
  width: 400px;
  height: 50px;
}


/* ================================================================================================= */



#new-purchase-table.table tbody tr td{
    font-size: 14px;
}
#new-purchase-table.table tr td{
    font-size: 10px;
}
#new-purchase-table.table tr th, #new-purchase-table.table tr td {
    border-color: #e9e9e9;
}
#new-purchase-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-purchase-table.table th:last-child {
    width: 100px;
}
#new-purchase-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-purchase-table.table td a.add-transaction-purchase {
    color: #27C46B;
}
#new-purchase-table.table td a.edit-transaction-purchase {
    color: #FFC107;
}
#new-purchase-table.table td a.delete-transaction-purchase{
    color: #E34724;
}

#new-purchase-table.table td i {
    font-size: 16px;
}
#new-purchase-table.table td a.add-transaction-purchase i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-purchase-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-purchase-table.table .form-control.error {
border-color: #f50000;
}
#new-purchase-table.table td .add-transaction-purchase {
display: none;
}
/* ================================================================================================= */

.table-title .add-item-purchase-edit i {
margin-right: 4px;
}

.table-title .add-item-purchase-edit{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}

#edit-purchase-table.table tbody tr td{
    font-size: 14px;
}
#edit-purchase-table.table tr td{
    font-size: 10px;
}
#edit-purchase-table.table tr th, #edit-purchase-table.table tr td {
    border-color: #e9e9e9;
}
#edit-purchase-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-purchase-table.table th:last-child {
    width: 100px;
}
#edit-purchase-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-purchase-table.table td a.add-purchase-edit {
    color: #27C46B;
}
#edit-purchase-table.table td a.edit-purchase-edit {
    color: #FFC107;
}
#edit-purchase-table.table td a.delete-purchase-edit{
    color: #E34724;
}

#edit-purchase-table.table td i {
    font-size: 16px;
}
#edit-purchase-table.table td a.add-purchase-edit i {
    font-size: 19px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-purchase-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-purchase-table.table .form-control.error {
border-color: #f50000;
}
#edit-purchase-table.table td .add-purchase-edit {
display: none;
}
/* ================================================================================================= */

.table-title .add-item-sale i {
margin-right: 4px;
}

.table-title .add-item-sale{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}

#new-sale-table.table tr th{
    font-size: 14px;
}
#new-sale-table.table tr td{
    font-size: 10px;
}
#new-sale-table.table tr th, #new-sale-table.table tr td {
    border-color: #e9e9e9;
}
#new-sale-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-sale-table.table th:last-child {
    width: 100px;
}
#new-sale-table.table td a {
cursor: pointer;
display: inline-block;
margin: 0 5px;
min-width: 24px;
}
#new-sale-table.table td a.add-transaction-sale {
    color: #27C46B;
}
#new-sale-table.table td a.edit-transaction-sale {
    color: #FFC107;
}
#new-sale-table.table td a.delete-transaction-sale{
    color: #E34724;
}

#new-sale-table.table td i {
    font-size: 16px;
}
#new-sale-table.table td a.add-transaction-sale i {
    font-size: 19px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-sale-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-sale-table.table .form-control.error {
border-color: #f50000;
}
#new-sale-table.table td .add-transaction-sale {
display: none;
}

/* ================================================================================================= */

.table-title .add-item-sale-edit i {
margin-right: 4px;
}

.table-title .add-item-sale-edit{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}

#edit-sale-table.table tr th{
    font-size: 14px;
}
#edit-sale-table.table tr td{
    font-size: 14px;
}
#edit-sale-table.table tr th, #edit-sale-table.table tr td {
    border-color: #e9e9e9;
}
#edit-sale-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-sale-table.table th:last-child {
    width: 100px;
}
#edit-sale-table.table td a {
cursor: pointer;
display: inline-block;
margin: 0 5px;
min-width: 24px;
}
#edit-sale-table.table td a.add-transaction-sale-edit {
    color: #27C46B;
}
#edit-sale-table.table td a.edit-transaction-sale-edit {
    color: #FFC107;
}
#edit-sale-table.table td a.delete-transaction-sale-edit{
    color: #E34724;
}

#edit-sale-table.table td i {
    font-size: 16px;
}
#edit-sale-table.table td a.add-transaction-sale-edit i {
    font-size: 19px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-sale-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-sale-table.table .form-control.error {
border-color: #f50000;
}
#edit-sale-table.table td .add-transaction-sale-edit {
display: none;
}

/* ================================================================================================= */



/* ================================================================================================= */


#add-item-table.table tbody tr td{
    font-size: 14px;
}
#add-item-table.table tr td{
    font-size: 10px;
}
#add-item-table.table tr th, #add-item-table.table tr td {
    border-color: #e9e9e9;
}
#add-item-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#add-item-table.table th:last-child {
    width: 100px;
}
#add-item-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#add-item-table.table td a.add-item {
    color: #27C46B;
}
#add-item-table.table td a.edit-item {
    color: #FFC107;
}
#add-item-table.table td a.delete-item{
    color: #E34724;
}

#add-item-table.table td i {
    font-size: 16px;
}
#add-item-table.table td a.add-item i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#add-item-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#add-item-table.table .form-control.error {
border-color: #f50000;
}
#add-item-table.table td .add-item {
display: none;
}


#dataTable.table td a.delete_purchase{
  color:#E34724;
}
#dataTable.table td a.delete-job-order{
  color:#E34724;
}
#dataTable.table td a.delete-job-order{
  color:#E34724;
}
#dataTable.table td a.delete_sale{
  color:#E34724;
}

#dataTable.table td a.delete-journal-voucher{
  color:#E34724;
}
#dataTable.table td a.delete-crv-summary{
  color:#E34724;
}
#dataTable.table td a.delete-cpv-summary{
  color:#E34724;
}

/* ================================================================================================= */

#new-purchase-return-table.table tr th{
    font-size: 10px;
}
#new-purchase-return-table.table tr td{
    font-size: 10px;
}
#new-purchase-return-table.table tr th, #new-purchase-return-table.table tr td {
    border-color: #e9e9e9;
}
#new-purchase-return-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-purchase-return-table.table th:last-child {
    width: 70px;
}
#new-purchase-return-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-purchase-return-table.table td a.add-purchase-return {
    color: #27C46B;
}
#new-purchase-return-table.table td a.edit-purchase-return {
    color: #FFC107;
}
#new-purchase-return-table.table td a.delete-purchase-return{
    color: #E34724;
}

#new-purchase-return-table.table td i {
    font-size: 16px;
}
#new-purchase-return-table.table td a.add-purchase-return i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-purchase-return-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-purchase-return-table.table .form-control.error {
border-color: #f50000;
}
#new-purchase-return-table.table td .add-purchase-return {
display: none;
}

/* ================================================================================================= */


#new-sale-return-table.table tr th{
    font-size: 10px;
}
#new-sale-return-table.table tr td{
    font-size: 10px;
}
#new-sale-return-table.table tr th, #new-sale-return-table.table tr td {
    border-color: #e9e9e9;
}
#new-sale-return-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-sale-return-table.table th:last-child {
    width: 70px;
}
#new-sale-return-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-sale-return-table.table td a.add-sale-return {
    color: #27C46B;
}
#new-sale-return-table.table td a.edit-sale-return {
    color: #FFC107;
}
#new-sale-return-table.table td a.delete-sale-return{
    color: #E34724;
}

#new-sale-return-table.table td i {
    font-size: 16px;
}
#new-sale-return-table.table td a.add-sale-return i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-sale-return-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-sale-return-table.table .form-control.error {
border-color: #f50000;
}
#new-sale-return-table.table td .add-sale-return {
display: none;
}

.return{
  color:#696969;
}

/* ============================================================================= */
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {

    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:black;
    font-weight:300;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
    color:#007bff ;
}
.tree li a {
    text-decoration: none;
    color:black;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:black;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}


.table-title .add-item-jv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}

.table-title .add-item-jv i {
margin-right: 4px;
}

.table-title .edit-item-jv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}

.table-title .edit-item-jv i {
margin-right: 4px;
}


.table-title .load-invoices {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .load-invoices i {
margin-right: 4px;
}

.table-title .load-invoices-cpv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .load-invoices-cpv i {
margin-right: 4px;
}

.table-title .add-item-jv i {
margin-right: 4px;
}


.table-title .add-item-jv i {
margin-right: 4px;
}

.table-title .add-item-brv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-item-brv i {
margin-right: 4px;
}

.table-title .add-item-jv i {
margin-right: 4px;
}

.table-title .add-item-bpv {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .add-item-bpv i {
margin-right: 4px;
}

#new-jv-table.table tr th{
    font-size: 14px;
}
#new-jv-table.table tr td{
    font-size: 14px;
}
#new-jv-table.table tr th, #new-jv-table.table tr td {
    border-color: #e9e9e9;
}
#new-jv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-jv-table.table th:last-child {
    width: 100px;
}
#new-jv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-jv-table.table td a.add-jv {
    color: #27C46B;
}
#new-jv-table.table td a.edit-jv {
    color: #FFC107;
}
#new-jv-table.table td a.delete-jv {
    color: #E34724;
}

#new-jv-table.table td i {
    font-size: 16px;
}
#new-jv-table.table td a.add-jv i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-jv-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-jv-table.table .form-control.error {
border-color: #f50000;
}
#new-jv-table.table td .add-jv {
display: none;
}


#edit-jv-table.table tr th{
    font-size: 14px;
}
#edit-jv-table.table tr td{
    font-size: 14px;
}
#edit-jv-table.table tr th, #edit-jv-table.table tr td {
    border-color: #e9e9e9;
}
#edit-jv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-jv-table.table th:last-child {
    width: 100px;
}
#edit-jv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-jv-table.table td a.add-jv-edit {
    color: #27C46B;
}
#edit-jv-table.table td a.edit-jv-edit {
    color: #FFC107;
}
#edit-jv-table.table td a.delete-jv-edit {
    color: #E34724;
}

#edit-jv-table.table td i {
    font-size: 16px;
}
#edit-jv-table.table td a.add-jv-edit i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-jv-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-jv-table.table .form-control.error {
border-color: #f50000;
}
#edit-jv-table.table td .add-jv-edit {
display: none;
}


#new-bpv-table.table {
    /*table-layout: fixed*/;
}
#new-bpv-table.table tr th{
    font-size: 10px;
}
#new-bpv-table.table tr td{
    font-size: 10px;
}
#new-bpv-table.table tr th, #new-bpv-table.table tr td {
    border-color: #e9e9e9;
}
#new-bpv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-bpv-table.table th:last-child {
    width: 100px;
}
#new-bpv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-bpv-table.table td a.add-bpv {
    color: #27C46B;
}
#new-bpv-table.table td a.edit-bpv {
    color: #FFC107;
}
#new-bpv-table.table td a.delete-bpv {
    color: #E34724;
}

#new-bpv-table.table td i {
    font-size: 16px;
}
#new-bpv-table.table td a.add-bpv i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-bpv-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-bpv-table.table .form-control.error {
border-color: #f50000;
}
#new-bpv-table.table td .add-bpv {
display: none;
}

/* ================================================================================= */
#edit-brv-table.table {
    /*table-layout: fixed*/;
}
#edit-brv-table.table tr th{
    font-size: 10px;
}
#edit-brv-table.table tr td{
    font-size: 10px;
}
#edit-brv-table.table tr th, #edit-bpv-table.table tr td {
    border-color: #e9e9e9;
}
#edit-brv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-bpv-table.table th:last-child {
    width: 100px;
}
#edit-brv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-brv-table.table td a.add-brv-edit {
    color: #27C46B;
}
#edit-brv-table.table td a.edit-brv-edit {
    color: #FFC107;
}
#edit-brv-table.table td a.delete-brv-edit {
    color: #E34724;
}

#edit-brv-table.table td i {
    font-size: 16px;
}
#edit-brv-table.table td a.add-brv-edit i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-brv-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-brv-table.table .form-control.error {
border-color: #f50000;
}
#edit-brv-table.table td .add-brv-edit {
display: none;
}

#new-cpv-table.table tr th{
    font-size: 14px;
}
#new-cpv-table.table tr td{
    font-size: 14px;
}
#new-cpv-table.table tr th, #new-cpv-table.table tr td {
    border-color: #e9e9e9;
}
#new-cpv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-cpv-table.table th:last-child {
    width: 100px;
}
#new-cpv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-cpv-table.table td a.add-cpv {
    color: #27C46B;
}
#new-cpv-table.table td a.edit-cpv {
    color: #FFC107;
}
#new-cpv-table.table td a.delete-cpv {
    color: #E34724;
}

#new-cpv-table.table td i {
    font-size: 16px;
}
#new-cpv-table.table td a.add-cpv i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-cpv-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-cpv-table.table .form-control.error {
border-color: #f50000;
}
#new-cpv-table.table td .add-cpv {
display: none;
}


/* ================================================================================= */
#view-crv-table.table tr th{
    font-size: 14px;
}
#view-crv-table.table tr td{
    font-size: 14px;
}
#view-crv-table.table tr th, #view-crv-table.table tr td {
    border-color: #e9e9e9;
}
#view-crv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#view-crv-table.table th:last-child {
    width: 100px;
}
#view-crv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}

#new-crv-table.table tr th{
    font-size: 14px;
}
#new-crv-table.table tr td{
    font-size: 14px;
}
#new-crv-table.table tr th, #new-crv-table.table tr td {
    border-color: #e9e9e9;
}
#new-crv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-crv-table.table th:last-child {
    width: 100px;
}
#new-crv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-crv-table.table td a.add-crv {
    color: #27C46B;
}
#new-crv-table.table td a.edit-crv {
    color: #FFC107;
}
#new-crv-table.table td a.delete-crv {
    color: #E34724;
}

#new-crv-table.table td i {
    font-size: 16px;
}
#new-crv-table.table td a.add-crv i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-crv-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-crv-table.table .form-control.error {
border-color: #f50000;
}
#new-crv-table.table td .add-crv {
display: none;
}


/* ================================================================================= */

#new-brv-table.table {
    /*table-layout: fixed*/;
}
#new-brv-table.table tr th{
    font-size: 10px;
}
#new-brv-table.table tr td{
    font-size: 10px;
}
#new-brv-table.table tr th, #new-brv-table.table tr td {
    border-color: #e9e9e9;
}
#new-brv-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#new-brv-table.table th:last-child {
    width: 100px;
}
#new-brv-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#new-brv-table.table td a.add-brv {
    color: #27C46B;
}
#new-brv-table.table td a.edit-brv {
    color: #FFC107;
}
#new-brv-table.table td a.delete-brv {
    color: #E34724;
}

#new-brv-table.table td i {
    font-size: 16px;
}
#new-brv-table.table td a.add-brv i {
    font-size: 19px;
  margin-right: -1px;
    position: relative;
    top: 3px;
}
#new-brv-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#new-brv-table.table .form-control.error {
border-color: #f50000;
}
#new-brv-table.table td .add-brv {
display: none;
}

.table-title .add-item-inventory i {
margin-right: 4px;
}

.table-title .add-item-inventory{
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}


.table-wrapperss {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .edit-dc-supplier {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .edit-dc-supplier i {
  margin-right: 4px;
}

table.table td a.delete-po-supplier{
  color:#E34724;
}

#new-jo-table.table {
      /*table-layout: fixed*/;
  }
#new-jo-table.table tr th, #new-jo-table.table tr td {
      border-color: #e9e9e9;
  }
#new-jo-table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
#new-jo-table.table th:last-child {
      width: 100px;
  }
#new-jo-table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }
#new-jo-table.table td a.add-jo {
      color: #27C46B;
  }
#new-jo-table.table td a.edit-jo {
      color: #FFC107;
  }
#new-jo-table.table td a.delete-jo{
      color: #E34724;
  }

#new-jo-table.table td i {
      font-size: 19px;
  }
#new-jo-table.table td a.add-jo i {
      font-size: 24px;
      margin-right: -1px;
      position: relative;
      top: 3px;
  }
#new-jo-table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
#new-jo-table.table .form-control.error {
  border-color: #f50000;
}
#new-jo-table.table td .add-jo {
  display: none;
}


.table-title .edit-item-jo {
float: right;
height: 30px;
font-weight: bold;
font-size: 12px;
text-shadow: none;
min-width: 100px;
border-radius: 50px;
line-height: 13px;
}
.table-title .edit-item-jo i {
margin-right: 4px;
}

table.table td a.delete-po-supplier{
color:#E34724;
}


#edit-jo-table.table tr th, #edit-jo-table.table tr td {
    border-color: #e9e9e9;
}
#edit-jo-table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
#edit-jo-table.table th:last-child {
    width: 100px;
}
#edit-jo-table.table td a {
cursor: pointer;
    display: inline-block;
    margin: 0 5px;
min-width: 24px;
}
#edit-jo-table.table td a.add-jo-edit {
    color: #27C46B;
}
#edit-jo-table.table td a.edit-jo-edit {
    color: #FFC107;
}
#edit-jo-table.table td a.delete-jo-edit{
    color: #E34724;
}

#edit-jo-table.table td i {
    font-size: 19px;
}
#edit-jo-table.table td a.add-jo-edit i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}
#edit-jo-table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
#edit-jo-table.table .form-control.error {
border-color: #f50000;
}
#edit-jo-table.table td .add-jo-edit {
display: none;
}
