<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Marketing 247 Services</title>


  <!-- Custom fonts for this template-->
  <link href="{% static 'transaction/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  {% comment %} Toastr CSS {% endcomment %}
  <link href="{% static 'transaction/css/jquery.toast.css' %}" rel="stylesheet" type="text/css" />
  <!-- Page level plugin CSS-->
  <link href="{% static 'transaction/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'transaction/css/sb-admin.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'transaction/css/table.css' %}">
  <link rel="stylesheet" href="{% static 'transaction/css/tree_view.css' %}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'transaction/css/loading.css' %}">
  {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
  {% comment %} <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> {% endcomment %}
  {% comment %} <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}
  <!------ Include the above in your HEAD tag ---------->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"> 
  <!---- Must Add above thing or you can use alternative icons or CSS Entities---->

</head>

<body id="page-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'transaction-home' %}">{{request.user}}</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    </form>


    <!-- Navbar -->
    <ul class="navbar-nav mr-auto mr-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <!-- <a class="dropdown-item" href="{% url 'register' %}">Register an Account</a> -->
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="{% url 'login' %}" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav toggled">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'transaction-home' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      {% for Objects in ObjectHead %}
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <i class="{{Objects.Icons}}"></i>
           <span>{{Objects.ObjectTitle}}</span>
         </a>
         <div class="dropdown-menu" aria-labelledby="pagesDropdown">
         {% for Child in ObjectHeadChild %}
         {% if Child.3 == Objects.ObjectID %}
           <a class="dropdown-item" href="{% url Child.2 %}">{{Child.1}}</a>
         {% endif %}
         {% endfor %}
         </div>
       </li>
     {% endfor %}
    </ul>
    <div id="content-wrapper">
      <div class="container-fluid">
          {% block body %}>
          {% endblock body %}

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Powered By <a target="_blank" href="https://techfurq.com/">Tech Furq</a> </span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}?next=/login">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'transaction/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'transaction/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'transaction/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'transaction/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'transaction/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'transaction/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
  <script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'transaction/js/sb-admin.min.js' %}"></script>

  <!-- Custom scripts -->
  <script type="text/javascript" src="{% static 'transaction/inventory.js' %}"></script>
  <script type="text/javascript" src="{% static 'transaction/script.js' %}"></script>
  <script type="text/javascript" src="{% static 'transaction/transaction.js' %}"></script>

  <!-- Custom scripts -->
  <script src="{% static 'transaction/js/jquery.toast.js' %}"></script>
  {% comment %} <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> {% endcomment %}

</body>

</html>
