{% extends "transaction/base.html" %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block body %}

<div class="card" style="width: 100%;">
<div class="card-header">
  <h4>Edit Purchase</h4>
</div>
<ul class="list-group list-group-flush">
<form  action="" id="edit-purchase-submit" autocomplete="off" method="post">
  {% csrf_token %}
  <li class="list-group-item">
      <div class="form-row">

        <div class="form-group col-md-2">
          <label for="">Purchase ID</label>
          <input type="text" readonly class="form-control form-control-sm" required value="{{ purchase_header.purchase_no }}" id="purchase_id">
        </div>

        <div class="form-group col-md-2">
          <label>Vendor Name</label>
          <input list="account" id="supplier_name_purchase" class="form-control form-control-sm" value="{{ purchase_header.account_id.account_title }}" required >
          <datalist id="account">
            {% for value in all_accounts %}
            <option value="{{value.account_title}}">{{value.account_title}}</option>
            {% endfor %}
          </datalist>
        </div>
        <div class="form-group col-md-2">
         <label for="sel1">Payment Term:</label>
         <select class="form-control form-control-sm" id="payment_method">
           <option selected>{{purchase_header.payment_method}}</option>
           {% if purchase_header.payment_method == "Cash" %}
              <option>Credit</option>
           {% else %}
              <option>Cash</option>
           {% endif %}
         </select>
        </div>
        <div class="form-group col-md-2">
          <label for="">Date</label>
          <input type="date" class="form-control form-control-sm"  value="{{ purchase_header.follow_up|date:'Y-m-d' }}" id="follow_up" required>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea2">Footer Description</label>
          <textarea class="form-control rounded-0" rows="3" id="footer_desc">{{ purchase_header.footer_description }}</textarea>
        </div>
      </div>
    </li>
    <li class="list-group-item">
    <div class="table-title">
        <div class="row">
          <div class="form-group col-md-3">
            <input type="text" list="item" placeholder="Enter Item Code here..." class="form-control form-control-sm" id="item_code_purchase_edit" data-id="{{pk}}">
          </div>
          <datalist id="item">
            {% for value in all_item_code %}
              <option value="{{value.item_code}}"></option>
            {% endfor %}
          </datalist>
            <div style="margin-left:20px;">
                <button type="button" class="btn btn-info has_id add-item-purchase-edit" id="{{pk}}"><i class="fa fa-plus"></i>Insert Item</button>
            </div>
        </div>
    </div>
    <div class="table-title">
        <div class="row">
          <div class="form-group col-md-3">
            <input type="text" list="item_x" placeholder="Enter Item Code here..." class="form-control form-control-sm" id="x_stand_edit" data-id={{pk}}>
          </div>
          <datalist id="item_x">
            {% for value in all_pcs %}
            <option value="{{value.item_code}}">{{value.item_code}} | {{value.item_name}}</option>
            {% endfor %}
          </datalist>
            <div style="margin-left:20px;">
                <button type="button" class="btn btn-warning add-item-x-edit-purchase has_id" id="{{purchase_header.id}}"><i class="fa fa-plus"></i>Insert X-Stand</button>
            </div>
        </div>
    </div>
    <div class="table table-responsive">
      <table class="table table-bordered" id="edit-purchase-table">
          <thead>
              <tr>
                  <th width="40px">S No.</th>
                  <th width="90px">Item Code</th>
                  <th width="90px">Item Name</th>
                  <th width="100px">Description</th>
                  <th width="130px">Meas</th>
                  <th width="80px">Width</th>
                  <th width="80px">Height</th>
                  <th width="80px">Qty</th>
                  <th width="70px">Sq.ft</th>
                  <th width="100px">Rate</th>
                  <th width="120px">Amount</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            {% for value in purchase_detail %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td style="display:none;">{{value.item_id.id}}</td>
                <td> {{value.item_id.item_code}}</td>
                <td> {{value.item_id.item_name}} </td>
                <td><pre>{{value.item_id.item_description}}</pre></td>
                <td>
                {% if value.meas == "sq.ft" %}
                  <select id="sel" class="form-control form-control-sm input_select_edit" style="height:35px;">
                      <option>{{value.meas}}</option>
                      <option>sq.inches</option>
                  </select>
                {% elif value.meas == "sq.inches" %}
                  <select id="sel" class="form-control form-control-sm input_select_edit" style="height:35px;">
                      <option>{{value.meas}}</option>
                      <option>sq.ft</option>
                  </select>
                {% else %}
                pcs
                {% endif %}
                </td>
                {% if value.meas == "sq.ft" %}
                  <td id="width"><input type="text" required class="form-control input_width_edit" value="{{value.width}}"></td>
                  <td id="height"><input type="text" required class="form-control input_height_edit" value="{{value.height}}"></td>
                  <td id="quantity"><input type="text" required class="form-control input_quantity_edit" value="{{value.quantity}}"></td>
                  <td id="square_fit">{{value.width|mul:value.height|mul:value.quantity|floatformat:2}}</td>
                  <td id="rate"><input type="text" required class="form-control input_rate_edit" value="{{value.rate}}"></td>
                  <td id="total" class="sum"><b>{{value.width|mul:value.height|mul:value.quantity|mul:value.rate|floatformat:2}}</b></td>
                  <td style="display:none;" id="measurment">{{value.meas}}</td>
                {% elif value.meas == "sq.inches" %}
                  <td id="width"><input type="text" required class="form-control input_width_edit" value="{{value.width}}"></td>
                  <td id="height"><input type="text" required class="form-control input_height_edit" value="{{value.height}}"></td>
                  <td id="quantity"><input type="text" required class="form-control input_quantity_edit" value="{{value.quantity}}"></td>
                  <td id="square_fit">{{value.width|mul:value.height|div:144|mul:value.quantity|floatformat:2}}</td>
                  <td id="rate"><input type="text" required class="form-control input_rate_edit" value="{{value.rate}}"></td>
                  <td id="total" class="sum"><b>{{value.width|mul:value.height|div:144|mul:value.quantity|mul:value.rate|floatformat:2}}</b></td>
                  <td style="display:none;" id="measurment">{{value.meas}}</td>
                {%  elif value.meas == "pieces"  %}
                  <td id="width">0.00</td>
                  <td id="height">0.00</td>
                  <td id="quantity"><input type="text" required class="form-control input_x_quantity_edit" value="{{value.total_pcs}}"></td>
                  <td id="square_fit">0.00</td>
                  <td id="rate"><input type="text" required class="form-control input_x_rate_edit" value="{{value.rate}}"></td>
                  <td id="total" class="sum"><b>{{value.total_pcs|mul:value.rate|floatformat:2}}</b></td>
                  <td style="display:none;" id="measurment">{{value.meas}}</td>
                {% endif %}
                <td><a class="delete-purchase-edit" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    </li>
    <li class="list-group-item">
      <input type="hidden" name="" value="" id="hidden">
      <div class="float-right">
        <div class="form-inline">
          <div class="form-group">
            <label for="text" style="font-size:14px;">Grand Total:&nbsp;</label>
            <input type="text" class="form-control form-control-sm" style="border-top: 0px; border-right:0px; border-left:0px;" id="grand_total" value="" readonly>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      </li>
      <br>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary has_id" id="{{pk}}">Update <small>(Purchase)</small></button>
    </div>
    <br>
</form>
</ul>
</div>


{% endblock body %}
